* {
    margin: 0;
    outline: 0 none;
    padding: 0;
}
a:active, a:active * { outline: none !important; -moz-outline-style: none !important; }
a:focus, a:focus * { outline: none !important; -moz-outline-style: none !important; }

a{
    color: rgb(22, 111, 117);
}
html, body {
    height: 100%;
    margin-bottom: 1px;
}
body{
  background: rgb(22, 111, 117);
  background: #FBFBFB;
}
body.login{
    background: rgb(22, 111, 117);
}
header{
  height: 140px;
  background: url("../img/header.jpg");
}
footer {
    color: rgb(22, 111, 117);
    font-size: 13px;
    margin-bottom: 10px;
    margin-top: 18px;
    text-align: center;
}
section#principal {
    padding: 35px 0;
}
table thead tr {
    background-color: rgb(22, 111, 117);
    color: white;
}
table tbody tr {
    color: rgb(22, 111, 117);
}
table tbody tr.des, table tbody tr.op-agregar{
    background-color: #d5d5d5;
    color: #696969;
}
table tbody tr.des .acciones a{
    color: #696969 !important;
}
.center{
    text-align: center;
}
.cbold{
  background: #DFEED2;
}
.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th, table thead{
    border: 1px solid rgb(22, 111, 117);
}
.table .boton {
    display: inline-block;
    width: 80%;
}
.table input, .table select{
    margin: 0px !important;
}
#area-grupos {
    background: #e0e0e0 none repeat scroll 0 0;
    border-radius: 4px;
    height: 45px;
    margin-top: 16px;
}
#area-grupos span {
    background: rgb(22, 111, 117) none repeat scroll 0 0;
    border-radius: 4px 0 0 4px;
    color: white;
    display: inline-block;
    font-size: 12px;
    height: 100%;
    line-height: 45px;
    text-align: center;
    text-transform: uppercase;
    width: 115px;
}
#area-grupos .boton {
    background: white none repeat scroll 0 0;
    border: 1px solid rgb(22, 111, 117);
    color: rgb(22, 111, 117);
    margin: 0 0 0 12px;
}
#frmgrupo {
    border: 1px dashed #969696;
    border-radius: 4px;
    margin: 0 auto;
    padding: 5px 0px;
}
#frmgrupo select{
    width: 100px;
}
#frmgrupo .boton{
    display:inline-block;
    width:80px;
}
#estudiantes{
    display: block;
    margin: 0 auto;
}
#formulario {
    margin: 0 auto;
    width: 500px;
    text-align: center;
    color: rgb(22, 111, 117);
}
.formulario .fila div {
    display: inline-block;
    padding: 0 4px;
    vertical-align: top;
}
.formulario .fila .tit{
    color: rgb(22, 111, 117);
    text-align: right;
}
.formulario .fila .titpanel {
    height: 30px;
    margin-top: 4px;
    text-align: center !important;
    text-transform: uppercase;
}
.formulario .fila .separa {
    height: 15px;
}
.titulo{
    color: rgb(22, 111, 117);
    display: inline-block;
    margin-right: 5px;
}
.formulario .fila .dato {
    awidth: calc(100% - 230px);
}
input, select{
    width: 100%;
    border: 1px solid rgb(22, 111, 117);
    border-radius: 2px;
    display: inline-block;
    font-size: 13px;
    margin: 0 auto 12px;
    padding: 3px 5px;
    box-sizing: border-box;
    max-width: 250px;
}
#formulario .fila .dato input, #formulario .fila .dato select {
    float: left;
}
#formulario .fila .dato input:focus{
    box-shadow: 0px 0px 4px #12745C;
}


#formulario .boton , .formulario  .boton{
    width: 100px;
    display: inline-block;
}
#logo{
    margin-top: 26px;
    vertical-align: top;
}
#login {
    background: #115b5f none repeat scroll 0 0;
    height: 240px;
    left: 50%;
    margin-left: -170px;
    margin-top: -100px;
    position: absolute;
    top: 50%;
    width: 400px;
}
#login #cabecera {
    color: white;
    padding: 34px 0 16px;
    text-align: center;
}
#login #cabecera h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}
#login #cabecera span{
    display: block;
    font-size: 13px;
}
#login #cuerpo input {
    border: medium none;
    border-radius: 2px;
    display: block;
    font-size: 13px;
    margin: 0 auto 12px;
    padding: 3px 5px;
    width: 215px;
}
#login .button {
    background: #0c4144 none repeat scroll 0 0;
    color: white;
    height: 40px;
    width: 160px !important;
}
#main-menu {
    float: right;
    font-size: 0;
    list-style: outside none none;
    margin-top: 70px;
    text-align: right;
    transition: all 0.1s linear 0s;
}
#main-menu > li {
    background: rgba(0, 0, 0, 0) url("../img/separador.png") no-repeat scroll right center;
    display: inline-block;
    height: 65px;
    position: relative;
}
#main-menu > li:last-child {
    background:none;
}

#main-menu > li > a {
    color: rgb(128, 196, 203);
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    height: 65px;
    line-height: 68px;
    list-style: outside none none;
    padding: 0 20px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.15s linear 0s;
}
#main-menu > li:last-child > a {
    padding-right: 0;
}
#main-menu > li > a:hover, #main-menu > li.activo a{
  color: white;
}
#titulo {
    color: white;
    display: inline-block;
    height: 140px;
    line-height: 1;
    margin-left: 9px;
    padding: 48px 0;
}
#titulo h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}
#titulo span {
    font-size: 13px;
}
#user {
    border-radius: 0 0 3px 3px;
    color: white;
    margin: 0 8px;
    padding: 8px 9px 2px;
    position: absolute;
    right: 0;
}
#user #menuuser {
    display: none;
    margin-top: 4px;
    padding: 2px 4px 5px;
    width: 100px;
}
#user #menuuser a {
    color: rgb(22, 111, 117);
    display: block;
    font-size: 12px;
    padding: 3px 0;
    text-align: center;
    text-decoration: none;
}
#user #menuuser a:hover{
    color: #115b5f;
    font-weight: bold;
}
#user:hover{
    background: white;
    color: rgb(22, 111, 117);
}
#user:hover #menuuser{
    display: block;
}
#user i {
    font-size: 15px;
    cursor: pointer;
}
#user > span {
    font-size: 13px;
    margin-left: 6px;
    cursor: context-menu;
}
.opciones, .ventanas {
    border: 1px solid rgb(22, 111, 117);
    padding: 10px 12px;
}
.ventanas .texto {
    text-align: center;
    color: rgb(22, 111, 117);
    padding: 12px 0;
}
.ventanas {
    margin: 36px 0px;
}
.acciones{
    text-align: center;
}
.acciones a {
    color: rgb(22, 111, 117);
    font-size: 16px;
    margin: 0 4px;
    cursor: pointer;
}
.boton{
    background: rgb(22, 111, 117) none repeat scroll 0 0;
    border-radius: 3px;
    color: white;
    font-size: 12px;
    margin: 9px 8px;
    padding: 6px 9px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    display: block;
    border: none;
}
.boton:focus{
    color: white;
    text-decoration: none;
}
.boton:hover {
    color: white;
    text-decoration: none;
}
.boton:focus{
    color: white;
    text-decoration: none;
}
.btnmin {
    display: inline-block;
    margin: 0 8px 0 0;
    padding: 3px 8px;
}
.btnright{
  float: right;
}
.botones{
    margin-top: 20px;
    text-align: center;
}
.busqueda {
    margin: 15px 0 8px;
}
.cabecera {
    color: rgb(22, 111, 117);
    font-weight: bold;
    margin-bottom: 6px;
    padding: 3px 0;
    text-transform: uppercase;
}
.frmtitulo{
    text-transform: uppercase;
    padding: 5px 0px;
    color: rgb(22, 111, 117);
    font-weight: bold;
    margin-bottom: 18px;
    text-align: center;
}
.opciones #titulo, .ventanas #titulo {
    background: #FBFBFB none repeat scroll 0 0;
    color: rgb(22, 111, 117);
    display: inline-block;
    font-size: 15px;
    height: auto;
    margin-left: -3px;
    margin-top: -21px;
    padding: 2px 10px;
    position: absolute;
}
.rutas {
    margin-bottom: 17px;
}
.rutas > a {
    border: 1px solid rgb(22, 111, 117);
    color: rgb(22, 111, 117);
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
    margin: 0 2px;
    padding: 3px 9px;
    text-decoration: none;
    text-transform: uppercase;
}
.rutas > a:last-child {
    background: #167176 none repeat scroll 0 0;
    color: white;
}
.ventanas #titulo {
    background: rgb(22, 111, 117) none repeat scroll 0 0;
    color: white;
}
#fondo {
    background-color: black;
    display: none;
    height: 100%;
    opacity: 0.75;
    position: absolute;
    width: 100%;
    z-index: 9999;
}

#window {
    background-color: white;
    box-shadow: 0 2px 1px #595959;
    height: 200px;
    left: 50%;
    margin-left: -150px;
    margin-top: -100px;
    position: absolute;
    top: 50%;
    width: 300px;
    z-index: 99999;
    display: none;
}
#window .cerrar {
    color: #737171;
    cursor: pointer;
    float: right;
    font-size: 19px;
    margin: 0 6px;
}
#window .encabezado {
    background: #115b5f none repeat scroll 0 0;
    color: white;
    display: block;
    padding: 9px 11px;
    width: 100%;
}
#window .cuerpo {
    padding: 18px 11px;
}
#window .eliminar {
    text-align: center;
}
#window .boton {
    border: 1px solid;
    display: inline-block;
    width: 100px;
}
#menusecundario .boton{
    display: inline-block;
    width: 180px;
}
